* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #0e422b;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

header {
  display: flex;
  background-color: #0e422b;
  color: white;
  justify-content: space-around;
  align-self: center;
  margin: 6vh;
}
@media screen and (max-width: 600px) {
  header {
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  header div a img {
    width: 100%;
  }
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav #navBar {
  display: flex;
  list-style-type: none;
}
@media screen and (max-width: 600px) {
  header nav #navBar {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #420e25;
    flex-direction: column;
    top: 0;
    right: 0;
  }
}
header nav #navBar #cruz {
  display: none;
  margin-left: 90%;
}
@media screen and (max-width: 600px) {
  header nav #navBar #cruz {
    display: block;
  }
}
header nav #navBar li {
  margin-right: 10px;
}
@media screen and (max-width: 600px) {
  header nav #navBar li {
    margin: 3%;
  }
}
header #menuHamburguesa {
  display: none;
}
@media screen and (max-width: 600px) {
  header #menuHamburguesa {
    display: block;
    margin-left: 17%;
  }
}
@media screen and (max-width: 600px) {
  header #menuHamburguesa svg {
    width: 100%;
  }
}

footer {
  margin: 12vh 24vh;
  display: grid;
  grid-template-areas: "columnaFooter1 columnaFooter2 columnaFooter3" "filaFooter1 filaFooter1 filaFooter1";
  gap: 8%;
}
@media screen and (max-width: 600px) {
  footer {
    display: flex;
    flex-direction: column;
    height: 20vh;
    justify-content: space-around;
    align-items: center;
    width: 5vh;
    margin: 40% auto;
  }
}
footer div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
footer #columnafooter1 {
  grid-area: columnaFooter1;
}
@media screen and (max-width: 600px) {
  footer #columnafooter1 a {
    margin-top: 5%;
  }
}
@media screen and (max-width: 600px) {
  footer #columnafooter1 a img {
    width: 80vw;
    height: auto;
  }
}
footer #columnaFooter2 {
  grid-area: columnaFooter2;
}
@media screen and (max-width: 600px) {
  footer #columnaFooter2 {
    margin-bottom: 5vh;
    width: 68vw;
  }
}
footer #columnaFooter3 {
  grid-area: columnaFooter3;
}
@media screen and (max-width: 600px) {
  footer #columnaFooter3 {
    margin-bottom: 5vh;
    width: 68vw;
  }
}
footer #filaFooter1 {
  grid-area: filaFooter1;
}
@media screen and (max-width: 600px) {
  footer #filaFooter1 {
    margin-bottom: 5vh;
    width: 68vw;
    text-align: center;
  }
}

.grillaSocialMedia {
  display: grid;
  grid-template-areas: "logoFb logoTw logoIg" "logoWsp logoTele logoLi";
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 10% 1%;
  margin: 5%;
}
.grillaSocialMedia img {
  width: 32px;
  height: 32px;
}
.grillaSocialMedia #logoFb {
  grid-area: logoFb;
}
.grillaSocialMedia #logoTw {
  grid-area: logoTw;
}
.grillaSocialMedia #logoIg {
  grid-area: logoIg;
}
.grillaSocialMedia #logoWsp {
  grid-area: logoWsp;
}
.grillaSocialMedia #logoTele {
  grid-area: logoTele;
}
.grillaSocialMedia #logoLi {
  grid-area: logoLi;
}

#btnConfiguraciones {
  display: none;
  color: #420e25;
  background-color: white;
  padding: 1%;
}
@media screen and (max-width: 600px) {
  #btnConfiguraciones {
    display: block;
    padding: 5%;
    margin-bottom: 5%;
  }
}

.botonera {
  display: flex;
  justify-content: space-between;
  margin: 1vw 13vw;
}
@media screen and (max-width: 600px) {
  .botonera {
    display: none;
  }
}

#mainIndex {
  display: flex;
  /* margin: 1% 4% 1% 12%; */
  justify-content: space-evenly;
}
@media screen and (max-width: 600px) {
  #mainIndex {
    flex-direction: column;
  }
}
#mainIndex #destacado {
  margin-left: 8%;
  width: 37vw;
}
@media screen and (max-width: 600px) {
  #mainIndex #destacado {
    margin-bottom: 15%;
    margin-left: 1%;
    width: 100%;
  }
}
#mainIndex #destacado h1 {
  margin: 0% 0% 5% 0%;
}
#mainIndex #destacado button {
  color: #420e25;
  background-color: white;
  padding: 1%;
}
@media screen and (max-width: 600px) {
  #mainIndex #destacado article {
    margin-top: 5vw;
  }
}
@media screen and (max-width: 600px) {
  #mainIndex #destacado article .tablaPartidos {
    font-size: 12px;
  }
}
@media screen and (max-width: 600px) {
  #mainIndex #destacado article .tablaPartidos tbody tr td {
    padding: 8px;
  }
}
#mainIndex #todos {
  width: 21vw;
  margin-right: 16%;
}
@media screen and (max-width: 600px) {
  #mainIndex #todos {
    width: 80%;
    margin: 10% 10vw;
  }
}
#mainIndex #todos h3,
#mainIndex #todos table {
  margin: 0% 0% 5% 0%;
}
#mainIndex #todos button {
  color: #420e25;
  background-color: white;
  padding: 1%;
}
@media screen and (max-width: 600px) {
  #mainIndex #todos article {
    margin-top: 5vw;
  }
}
@media screen and (max-width: 600px) {
  #mainIndex #todos article .tablaPartidos {
    font-size: 10px;
  }
}
@media screen and (max-width: 600px) {
  #mainIndex #todos article .tablaPartidos tbody tr td {
    padding: 5px;
  }
}
#mainIndex .tablaPartidos {
  width: 100%;
}
#mainIndex .tablaPartidos .cabecera {
  background-color: black;
  color: white;
  padding: 10px;
  margin-left: 50px;
}
#mainIndex .tablaPartidos tbody tr td {
  border-bottom: 1px solid #ccc;
  padding: 15px;
}
#mainIndex .tablaPartidos tbody tr .dataVerMas,
#mainIndex .tablaPartidos tbody tr .dataHora {
  background-color: #420e25;
}
#mainIndex .tablaPartidos tbody tr .dataEquipo1,
#mainIndex .tablaPartidos tbody tr .dataEquipo2,
#mainIndex .tablaPartidos tbody tr .dataResultado1,
#mainIndex .tablaPartidos tbody tr .dataResultado2 {
  background-color: white;
  color: black;
}

@media screen and (max-width: 600px) {
  main {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 10vw;
    justify-content: center;
  }
  main .botonera {
    display: none;
  }
}
#formulario {
  margin: 12%;
}
@media screen and (max-width: 600px) {
  #formulario {
    margin: 0;
  }
}
#formulario form div {
  display: inline-block;
  width: 49%;
}
@media screen and (max-width: 600px) {
  #formulario form div {
    width: 100%;
  }
}
#formulario form div input {
  display: block;
  width: 86%;
  padding: 3%;
}
@media screen and (max-width: 600px) {
  #formulario form div input {
    width: 93%;
  }
}
#formulario form div #consulta {
  padding-bottom: 21%;
}
#formulario form button {
  width: 95%;
  color: #420e25;
  background-color: white;
  padding: 1%;
}
@media screen and (max-width: 600px) {
  #formulario form button {
    width: 100%;
  }
}

#detallePartido {
  margin: 0% 13%;
  display: inline-block;
}
@media screen and (max-width: 600px) {
  #detallePartido {
    margin: 0;
  }
}
#detallePartido #detalle {
  display: inline-block;
  width: 57%;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
@media screen and (max-width: 600px) {
  #detallePartido #detalle {
    width: 100%;
  }
}
#detallePartido #detalle button {
  margin: 3%;
  color: #420e25;
  background-color: white;
  padding: 1%;
}
#detallePartido #detalle #estructuraDetalle div {
  text-align: center;
}
@media screen and (max-width: 600px) {
  #detallePartido #detalle #estructuraDetalle div table {
    font-size: 12px;
    width: 100%;
  }
}
#detallePartido #detalle #estructuraDetalle div table thead {
  background-color: black;
  color: white;
  padding: 12px;
  margin-left: 50px;
}
#detallePartido #detalle #estructuraDetalle div table tbody tr td {
  background-color: white;
  color: black;
  margin-left: 50px;
  padding: 12px;
}
@media screen and (max-width: 600px) {
  #detallePartido #detalle #estructuraDetalle div table tbody tr td {
    padding: 1%;
  }
}
#detallePartido #detalle #estructuraDetalle div div {
  display: inline-block;
}
#detallePartido #detalle #estructuraDetalle div div #escudo {
  width: 40px;
}
#detallePartido #video {
  width: 42%;
  display: inline-block;
}
@media screen and (max-width: 600px) {
  #detallePartido #video {
    width: 100%;
    margin-top: 5%;
  }
}
#detallePartido #video img {
  width: 100%;
}

#ligaArgentina {
  margin: 5% 12% 12% 12%;
}
@media screen and (max-width: 600px) {
  #ligaArgentina {
    margin: 0;
  }
}
#ligaArgentina #tituloImg {
  display: flex;
  gap: 1%;
}
#ligaArgentina #tituloImg img {
  width: 40px;
}
#ligaArgentina #botonera {
  display: flex;
  justify-content: space-around;
  margin: 2vw 0vw;
}
@media screen and (max-width: 600px) {
  #ligaArgentina #botonera {
    display: none;
  }
}
#ligaArgentina #botonera button {
  color: #420e25;
  background-color: white;
  padding: 1%;
}
#ligaArgentina .tablas {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  #ligaArgentina .tablas {
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  #ligaArgentina .tablas .tablaGeneral {
    margin-bottom: 5%;
  }
}
@media screen and (max-width: 600px) {
  #ligaArgentina .tablas .tablaGeneral table {
    font-size: 12px;
    width: 100%;
  }
}
#ligaArgentina .tablas .tablaGeneral table thead {
  background-color: black;
  color: white;
  padding: 12px;
  margin-left: 50px;
}
#ligaArgentina .tablas .tablaGeneral table tbody tr td {
  background-color: #ccc;
  color: black;
  margin-left: 50px;
  padding: 12px;
}
@media screen and (max-width: 600px) {
  #ligaArgentina .tablas .tablaGeneral table tbody tr td {
    padding: 1%;
  }
}
#ligaArgentina #botonOpcion {
  display: none;
}
#ligaArgentina .tablaPartidos {
  width: 100%;
}
#ligaArgentina .tablaPartidos .cabecera {
  background-color: black;
  color: white;
  padding: 10px;
  margin-left: 50px;
}
#ligaArgentina .tablaPartidos tbody tr td {
  border-bottom: 1px solid #ccc;
  padding: 15px;
}
@media screen and (max-width: 600px) {
  #ligaArgentina .tablaPartidos tbody tr td {
    padding: 1%;
  }
}
#ligaArgentina .tablaPartidos tbody tr .dataVerMas,
#ligaArgentina .tablaPartidos tbody tr .dataHora {
  background-color: #420e25;
}
#ligaArgentina .tablaPartidos tbody tr .dataEquipo1,
#ligaArgentina .tablaPartidos tbody tr .dataEquipo2,
#ligaArgentina .tablaPartidos tbody tr .dataResultado1,
#ligaArgentina .tablaPartidos tbody tr .dataResultado2 {
  background-color: white;
  color: black;
}

@media screen and (max-width: 600px) {
  #botonOpcion {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  #botonOpcion button {
    width: 100%;
    padding: 1%;
    margin: 5% 0;
  }
}

#quienesSomos {
  margin: 12%;
}
@media screen and (max-width: 600px) {
  #quienesSomos {
    margin: 0;
  }
}
#quienesSomos img {
  width: 80vw;
}

/*# sourceMappingURL=style.css.map */
