* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #0e422b;
  color: #e0f0ec;
}

a {
  text-decoration: none;
  color: #e0f0ec;
}

header {
  display: flex;
  background-color: #0e422b;
  color: #e0f0ec;
  justify-content: space-around;
  align-self: center;
  margin: 6vh;
}
@media screen and (max-width: 600px) {
  header {
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  header div a img {
    width: 100%;
  }
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav #navBar {
  display: flex;
  list-style-type: none;
}
@media screen and (max-width: 600px) {
  header nav #navBar {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #2b0e42;
    flex-direction: column;
    top: 0;
    right: 0;
  }
}
header nav #navBar #cruz {
  display: none;
  margin-left: 90%;
}
@media screen and (max-width: 600px) {
  header nav #navBar #cruz {
    display: block;
  }
}
header nav #navBar li {
  margin-right: 10px;
}
@media screen and (max-width: 600px) {
  header nav #navBar li {
    margin: 3%;
  }
}
header #menuHamburguesa {
  display: none;
}
@media screen and (max-width: 600px) {
  header #menuHamburguesa {
    display: block;
    margin-left: 17%;
  }
}
@media screen and (max-width: 600px) {
  header #menuHamburguesa svg {
    width: 50%;
  }
}

.card-group {
  font-size: medium;
}
@media screen and (max-width: 600px) {
  .card-group {
    font-size: small;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .card-group {
    font-size: small;
  }
}
.card-group .ligaCopa {
  background-color: black;
  padding: 2%;
  margin-bottom: 2%;
}
.card-group .card-container {
  display: grid;
  grid-template-areas: "equipoUno escudoUno fechaHora escudoDos equipoDos" "equipoUno escudoUno fechaHora escudoDos equipoDos" "televisora televisora televisora televisora televisora";
  gap: 0% 2%;
  color: #2b0e42;
  background-color: #e0f0ec;
  margin-bottom: 1%;
}
@media screen and (max-width: 600px) {
  .card-group .card-container {
    grid-template-areas: "escudoUno equipoUno equipoUno equipoUno fechaHora" "escudoDos equipoDos equipoDos equipoDos fechaHora" "televisora televisora televisora televisora televisora";
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .card-group .card-container {
    grid-template-areas: "escudoUno equipoUno equipoUno equipoUno fechaHora" "escudoDos equipoDos equipoDos equipoDos fechaHora" "televisora televisora televisora televisora televisora";
  }
}
.card-group .card-container .equipoUno,
.card-group .card-container .equipoDos,
.card-group .card-container .fechaHora,
.card-group .card-container .escudoUno,
.card-group .card-container .escudoDos {
  color: #2b0e42;
  background-color: #e0f0ec;
  padding: 6%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.card-group .card-container .equipoUno {
  grid-area: equipoUno;
}
.card-group .card-container .escudoUno {
  grid-area: escudoUno;
}
.card-group .card-container .fechaHora {
  grid-area: fechaHora;
}
.card-group .card-container .escudoDos {
  grid-area: escudoDos;
}
.card-group .card-container .equipoDos {
  grid-area: equipoDos;
}
.card-group .card-container .televisora {
  grid-area: televisora;
  background-color: #2b0e42;
  padding: 2%;
  color: #e0f0ec;
}

footer {
  margin: 12vh 27vh;
  display: grid;
  grid-template-areas: "columnaFooter1 columnaFooter2 columnaFooter3" "filaFooter1 filaFooter1 filaFooter1";
  gap: 8%;
}
@media screen and (max-width: 600px) {
  footer {
    display: flex;
    flex-direction: column;
    height: 20vh;
    justify-content: space-around;
    align-items: center;
    width: 5vh;
    margin: 40% auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  footer {
    margin: 5% 6vh;
  }
}
footer div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
footer #columnaFooter1 {
  grid-area: columnaFooter1;
}
@media screen and (max-width: 600px) {
  footer #columnaFooter1 a {
    margin-top: 5%;
  }
}
@media screen and (max-width: 600px) {
  footer #columnaFooter1 a img {
    width: 80vw;
    height: auto;
  }
}
footer #columnaFooter2 {
  grid-area: columnaFooter2;
}
@media screen and (max-width: 600px) {
  footer #columnaFooter2 {
    margin-bottom: 5vh;
    width: 80vw;
  }
}
footer #columnaFooter3 {
  grid-area: columnaFooter3;
}
@media screen and (max-width: 600px) {
  footer #columnaFooter3 {
    margin-bottom: 5vh;
    width: 80vw;
  }
}
footer #filaFooter1 {
  grid-area: filaFooter1;
}
@media screen and (max-width: 600px) {
  footer #filaFooter1 {
    margin-bottom: 5vh;
    width: 80vw;
  }
}

.grillaSocialMedia {
  display: grid;
  grid-template-areas: "logoFb logoTw logoIg" "logoWsp logoTele logoLi";
  align-content: center;
  align-items: center;
  justify-items: center;
  gap: 10% 1%;
  margin: 5% 0%;
}
.grillaSocialMedia img {
  width: 32px;
  height: 32px;
}
.grillaSocialMedia #logoFb {
  grid-area: logoFb;
}
.grillaSocialMedia #logoTw {
  grid-area: logoTw;
}
.grillaSocialMedia #logoIg {
  grid-area: logoIg;
}
.grillaSocialMedia #logoWsp {
  grid-area: logoWsp;
}
.grillaSocialMedia #logoTele {
  grid-area: logoTele;
}
.grillaSocialMedia #logoLi {
  grid-area: logoLi;
}

#btnConfiguraciones {
  display: none;
  color: #2b0e42;
  background-color: #e0f0ec;
  padding: 1%;
}
@media screen and (max-width: 600px) {
  #btnConfiguraciones {
    display: block;
    padding: 5%;
    margin-bottom: 5%;
  }
}

.botonera {
  display: flex;
  justify-content: space-between;
  margin: 1vw 13vw;
}
.botonera button {
  padding: 1%;
}
@media screen and (max-width: 600px) {
  .botonera {
    display: none;
  }
}

#mainIndex {
  display: flex;
  /* margin: 1% 4% 1% 12%; */
  justify-content: space-evenly;
}
@media screen and (max-width: 600px) {
  #mainIndex {
    flex-direction: column;
  }
}
#mainIndex #destacado {
  margin-left: 5%;
  width: 40vw;
}
@media screen and (max-width: 600px) {
  #mainIndex #destacado {
    margin-bottom: 15%;
    margin-left: 1%;
    width: 100%;
  }
}
#mainIndex #destacado h1 {
  margin: 0% 0% 5% 0%;
}
#mainIndex #destacado button {
  color: #2b0e42;
  background-color: #e0f0ec;
  padding: 1%;
}
#mainIndex #todos {
  width: 23vw;
  margin-right: 4%;
}
@media screen and (max-width: 600px) {
  #mainIndex #todos {
    width: 80%;
    margin: 10% 10vw;
  }
}
#mainIndex #todos h3,
#mainIndex #todos table {
  margin: 0% 0% 5% 0%;
}
#mainIndex #todos button {
  color: #2b0e42;
  background-color: #e0f0ec;
  padding: 1%;
}
#mainIndex #todos article .card-group {
  font-size: small;
}
#mainIndex .tablaPartidos {
  width: 100%;
}
#mainIndex .tablaPartidos .cabecera {
  background-color: black;
  color: #e0f0ec;
  padding: 10px;
  margin-left: 50px;
}
#mainIndex .tablaPartidos tbody tr td {
  border-bottom: 1px solid #ccc;
  padding: 15px;
}
#mainIndex .tablaPartidos tbody tr .dataVerMas,
#mainIndex .tablaPartidos tbody tr .dataHora {
  background-color: #2b0e42;
}
#mainIndex .tablaPartidos tbody tr .dataEquipo1,
#mainIndex .tablaPartidos tbody tr .dataEquipo2,
#mainIndex .tablaPartidos tbody tr .dataResultado1,
#mainIndex .tablaPartidos tbody tr .dataResultado2 {
  background-color: #e0f0ec;
  color: black;
}

@media screen and (max-width: 600px) {
  main {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 10vw;
    justify-content: center;
  }
  main .botonera {
    display: none;
  }
}
#formulario {
  margin: 5% 12%;
}
@media screen and (max-width: 600px) {
  #formulario {
    margin: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #formulario {
    height: 49vh;
  }
}
#formulario h1 {
  margin-bottom: 3%;
}
#formulario form div {
  display: inline-block;
  width: 49%;
}
@media screen and (max-width: 600px) {
  #formulario form div {
    width: 100%;
  }
}
#formulario form div input {
  display: block;
  width: 86%;
  padding: 3%;
}
@media screen and (max-width: 600px) {
  #formulario form div input {
    width: 93%;
  }
}
#formulario form div #consulta {
  padding-bottom: 52%;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #formulario form div #consulta {
    padding-bottom: 80%;
  }
}
#formulario form div #boxArgentina {
  display: flex;
}
#formulario form div #boxSexo {
  display: flex;
}
#formulario form div #boxSexo #radioSexo {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-content: stretch;
}
#formulario form button {
  width: 95%;
  color: #2b0e42;
  background-color: #e0f0ec;
  padding: 1%;
}
@media screen and (max-width: 600px) {
  #formulario form button {
    width: 100%;
  }
}

#detallePartido {
  margin: 5% 13%;
  display: inline-block;
}
@media screen and (max-width: 600px) {
  #detallePartido {
    margin: 0;
  }
}
#detallePartido #detalle {
  display: inline-block;
  width: 57%;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
@media screen and (max-width: 600px) {
  #detallePartido #detalle {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #detallePartido #detalle {
    width: 100%;
  }
}
#detallePartido #detalle button {
  margin: 3%;
  color: #2b0e42;
  background-color: #e0f0ec;
  padding: 1%;
}
#detallePartido #detalle #estructuraDetalle div {
  text-align: center;
}
@media screen and (max-width: 600px) {
  #detallePartido #detalle #estructuraDetalle div table {
    font-size: 12px;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #detallePartido #detalle #estructuraDetalle div table {
    font-size: 12px;
    width: 100%;
  }
}
#detallePartido #detalle #estructuraDetalle div table thead {
  background-color: black;
  color: #e0f0ec;
  padding: 12px;
  margin-left: 50px;
}
#detallePartido #detalle #estructuraDetalle div table tbody tr td {
  background-color: #e0f0ec;
  color: black;
  margin-left: 50px;
  padding: 12px;
}
@media screen and (max-width: 600px) {
  #detallePartido #detalle #estructuraDetalle div table tbody tr td {
    padding: 1%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #detallePartido #detalle #estructuraDetalle div table tbody tr td {
    padding: 1%;
  }
}
#detallePartido #detalle #estructuraDetalle div div {
  display: inline-block;
}
#detallePartido #detalle #estructuraDetalle div div #escudo {
  width: 40px;
}
#detallePartido #video {
  width: 42%;
  display: inline-block;
}
@media screen and (max-width: 600px) {
  #detallePartido #video {
    width: 100%;
    margin-top: 5%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #detallePartido #video {
    width: 100%;
    margin-top: 5%;
  }
}
#detallePartido #video img {
  width: 100%;
}

#ligaArgentina {
  margin: 5% 12% 12% 12%;
}
@media screen and (max-width: 600px) {
  #ligaArgentina {
    margin: 0;
  }
}
#ligaArgentina #tituloImg {
  display: flex;
  gap: 1%;
}
#ligaArgentina #tituloImg img {
  width: 40px;
  object-fit: contain;
}
#ligaArgentina #botonera {
  display: flex;
  justify-content: space-around;
  margin: 2vw 0vw;
}
@media screen and (max-width: 600px) {
  #ligaArgentina #botonera {
    display: none;
  }
}
#ligaArgentina #botonera button {
  color: #2b0e42;
  background-color: #e0f0ec;
  padding: 1%;
}
#ligaArgentina .tablas {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  #ligaArgentina .tablas {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #ligaArgentina .tablas {
    flex-direction: column;
  }
}
#ligaArgentina .tablas .tablaGeneral {
  width: 45%;
}
@media screen and (max-width: 600px) {
  #ligaArgentina .tablas .tablaGeneral {
    margin-bottom: 5%;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #ligaArgentina .tablas .tablaGeneral {
    margin-bottom: 5%;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  #ligaArgentina .tablas .tablaGeneral table {
    font-size: 12px;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #ligaArgentina .tablas .tablaGeneral table {
    font-size: 12px;
    width: 100%;
  }
}
#ligaArgentina .tablas .tablaGeneral table thead {
  background-color: black;
  color: #e0f0ec;
  padding: 12px;
  margin-left: 50px;
}
#ligaArgentina .tablas .tablaGeneral table tbody tr td {
  background-color: #ccc;
  color: black;
  margin-left: 50px;
  padding: 12px;
}
@media screen and (max-width: 600px) {
  #ligaArgentina .tablas .tablaGeneral table tbody tr td {
    padding: 1%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #ligaArgentina .tablas .tablaGeneral table tbody tr td {
    padding: 1%;
  }
}
#ligaArgentina .tablas .listadoPartidos {
  width: 45%;
}
@media screen and (max-width: 600px) {
  #ligaArgentina .tablas .listadoPartidos {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #ligaArgentina .tablas .listadoPartidos {
    width: 100%;
  }
}
#ligaArgentina #botonOpcion {
  display: none;
}
#ligaArgentina .tablaPartidos {
  width: 100%;
}
#ligaArgentina .tablaPartidos .cabecera {
  background-color: black;
  color: #e0f0ec;
  padding: 10px;
  margin-left: 50px;
}
#ligaArgentina .tablaPartidos tbody tr td {
  border-bottom: 1px solid #ccc;
  padding: 15px;
}
@media screen and (max-width: 600px) {
  #ligaArgentina .tablaPartidos tbody tr td {
    padding: 1%;
  }
}
#ligaArgentina .tablaPartidos tbody tr .dataVerMas,
#ligaArgentina .tablaPartidos tbody tr .dataHora {
  background-color: #2b0e42;
}
#ligaArgentina .tablaPartidos tbody tr .dataEquipo1,
#ligaArgentina .tablaPartidos tbody tr .dataEquipo2,
#ligaArgentina .tablaPartidos tbody tr .dataResultado1,
#ligaArgentina .tablaPartidos tbody tr .dataResultado2 {
  background-color: #e0f0ec;
  color: black;
}

@media screen and (max-width: 600px) {
  #botonOpcion {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  #botonOpcion button {
    width: 100%;
    padding: 1%;
    margin: 5% 0;
  }
}

#quienesSomos {
  margin: 5% 12%;
}
@media screen and (max-width: 600px) {
  #quienesSomos {
    margin: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #quienesSomos {
    height: 62vh;
  }
}
#quienesSomos img {
  width: 80vw;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #quienesSomos img {
    width: 75vw;
  }
}

#mainError {
  margin: 0% 15%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 600px) {
  #mainError {
    flex-direction: column;
    margin: 5% 10%;
  }
}
#mainError img {
  height: 80vh;
}
@media screen and (max-width: 600px) {
  #mainError img {
    height: auto;
    width: 100%;
    object-fit: cover;
  }
}

/*# sourceMappingURL=style.css.map */
