#formulario {
  margin: 5% 12%;
  @include mobile {
    margin: 0;
  }
  @include tablet {
    height: 49vh;
  }
  h1 {
    margin-bottom: 3%;
  }
  form {
    div {
      display: inline-block;
      width: 49%;
      @include mobile {
        width: 100%;
      }
      input {
        display: block;
        width: 86%;
        padding: 3%;
        @include mobile {
          width: 93%;
        }
      }
      #consulta {
        padding-bottom: 52%;
        @include tablet {
          padding-bottom: 80%;
        }
      }
      #boxArgentina {
        display: flex;
      }
      #boxSexo {
        display: flex;
        #radioSexo {
          display: flex;
          justify-content: space-evenly;
          width: 100%;
          align-content: stretch;
        }
      }
    }
    button {
      width: 95%;
      color: $colorSecundario;
      background-color: $colorLetra;
      padding: 1%;
      @include mobile {
        width: 100%;
      }
    }
  }
}
